@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --main-color: #000;
    --accent-color: #fff;
    --tertiary-color: #ecd223;
    --accent-color-hover: #d6ba00;
    --nav-menu-color: #313131;
    --nav-bar-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
    background: white;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--tertiary-color);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: var(--accent-color-hover);
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

span {
    color: var(--tertiary-color);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--nav-bar-height));
}

.box p {
    font-size: 22px;
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background: var(--main-color);
    height: var(--nav-bar-height);
    width: 100%;
}

label.logo {
    color: var(--accent-color);
    font-size: 35px;
    line-height: var(--nav-bar-height);
    padding: 0 20px;
    font-weight: bold;
}

label.logo:hover {
    color: var(--tertiary-color);
}

nav ul {
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    line-height: var(--nav-bar-height);
}

nav ul li a {
    color: var(--accent-color);
    font-size: 17px;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
}

a.active {
    padding: 5px;
    border: var(--accent-color) 2px solid;
}

a:hover {
    padding: 5px;
    border: var(--accent-color-hover) 2px solid;
    color: var(--accent-color-hover);
}

.checkbtn {
    display: none;
    float: right;
    font-size: 35px;
    color: white;
    line-height: var(--nav-bar-height);
    margin-right: 20px;
    cursor: pointer;
}

#check {
    display: none;
}

@media screen and (max-width: 900px) {
    nav {
        display: block;
    }

    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--nav-menu-color);
        text-align: center;
        left: calc(100% * 2);
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active,a:hover {
        border: none;
        color: var(--tertiary-color);
    }

    #check:checked ~ ul {
        left: 0;
    }
}